/* 
  Inter font
*/
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/* 
  CSS reset 
*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,header,footer, figure { 
    margin:0;
    padding:0;
}

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img, video {
	width: 100%;
	height: auto;
}

/* 
  Typography 
*/

html {
	font-size: 24px;
}

::-moz-selection, ::selection, ::-webkit-selection {
	background: #00D632;
}

body {
	font-weight: 400;
	letter-spacing: -0.5px;
	font-feature-settings: "calt", "ss01", "cv01", "cv08", "cv09";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #1c1c1c;
	overflow-x: hidden;
	background: #e7ede4;
}

p {
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

h1, h3, h4, h5, h6 {
	font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h2 {
	font-size: 2.5rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #1c1c1c;
	letter-spacing: -2px;
}

a {
	color: #1c1c1c;
	text-decoration: none;
}

a:hover {
	color: #818181;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	margin-bottom: 8px;
}

/* 
  Flexbox & layout
*/

.wrapper, #top-navigation {
	max-width: 1600px;
}

.wrapper {
	width: 100%;
	padding: 6rem 16px 3rem 16px;
	margin: auto;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 16px;
	margin-bottom: 16px;
}

.row:last-of-type {
	margin-bottom: 0;
}

.column {
	display: flex;
	flex-direction: column;
	width: calc(50% - 8px);
}

/* 
  Thumbnails
*/

.thumbnails h2 {
	margin-bottom: 3rem;
}

#index .thumbnails h2 {
	display: none;
}

.thumbnails img {
	margin-bottom: 16px;
}

.thumbnails .row {
	justify-content: flex-start;
}

.thumbnails .row {
	margin-bottom: 32px;
}

/*.thumbnails a:hover .thumbnail-title::after {
	content: "🡒";
	position: relative;
	width: 0;
	height: 0;
	left: 8px;
}*/


/* 
  About
*/

.bio {
	margin-bottom: 2rem;
}

.links a {
	margin-bottom: 1rem;
}

.bullet {
	padding-right: 16px;
}

.column h6{
	margin-top: 16px;
	margin-bottom: 2rem;
}


/* 
  Navigation
*/

#top-navigation {
	position: fixed;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 16px;
	background: #e7ede4;
}

#top-navigation .column {
	display: flex;
	flex-direction: row;
}

#top-navigation .column a {
	margin-right: 2rem;
}

#index #menu-active-1::before, #about #menu-active-2::before, #menu-active-1:hover::before, #menu-active-2:hover::before {
	content: "•";
	position: relative;
	display: block;
	width: 0;
	height: 0;
	left: -16px;
	top: -2px;
}

#index #menu-active-1::before {
	color: #f968de;
}

#about #menu-active-2::before  {
	color: #79d72f;
}


/* 
  Case study
*/

.image-description {
	width: calc(50% - 16px);
	font-size: 0.6rem;
	font-weight: 500;
	font-style: italic;
	margin-bottom: 1rem;
	color: rgba(28, 28, 28, 0.6);
}

.credit {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 2rem;
}


/*
  Mobile Layouts
*/

@media screen and (max-width: 960px) {

.thumbnails .row {
	gap: 2rem;
}

.row {
	width: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

.column {
	width: 100%
}

#top-navigation {
	flex-direction: row;
	justify-content: space-between;
}

#top-navigation .column {
	flex: 0;
}

#top-navigation .column a:last-of-type {
	margin-right: 0;
}

#top-navigation h1 span {
	display: none;
}

#top-navigation h1::before {
	content: "©MW'23";
}

.image-description {
	width: 100%;
}

}
